
a {
    color: #1863a1
}

a:visited {
    color: blue
}

a:focus {
    color: green;
}

a:hover {
    color: red; /* #0181eb */
}

a:active {
    color: black
}

aside.sidebar a {
    color: #222
}

aside.sidebar a:focus {
    color: #0181eb
}

aside.sidebar a:hover {
    color: #0181eb
}

aside.sidebar a:active {
    color: #01579f
}

a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

html {
    /*background: #252525 top left*/
}

body > div {
    /*background: #f2f2f2  top left;*/
    /*border-bottom: 1px solid #bfbfbf*/
}

body > div > div {
    /*background: #f8f8f8 top left;*/
    /*border-right: 1px solid #e0e0e0*/
}

body {
    line-height: 1.5em;
    /*color: #222*/
}

h1 {
    font-size: 1.8em;
    line-height: 1.2em
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.15em
    }

    h1 {
        font-size: 1.8em;
        line-height: 1.2em
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    font-weight: bold;
    margin-top: 1em;
}

h2,
section h1 {
    font-size: 1.4em
}

h3,
section h2,
section section h1 {
    font-size: 1.3em
}

h4,
section h3,
section section h2,
section section section h1 {
    font-size: 1.2em
}

h5,
section h4,
section section h3 {
    font-size: 1.1em
}

h6,
section h5,
section section h4,
section section section h3 {
    font-size: 1.0em
}

p,
article blockquote,
ul,
ol {
    margin-bottom: 0.8em; /* changed this from 1.5em to 0.8 */
    hyphens: auto;
    word-break: break-word;
}

ul {
    list-style-type: disc
}

ul ul {
    list-style-type: circle;
    margin-bottom: 0px
}

ul ul ul {
    list-style-type: square;
    margin-bottom: 0px
}

ol {
    list-style-type: decimal
}

ol ol {
    list-style-type: lower-alpha;
    margin-bottom: 0px
}

ol ol ol {
    list-style-type: lower-roman;
    margin-bottom: 0px
}

ul,
ul ul,
ul ol,
ol,
ol ul,
ol ol {
    padding-left:1em;
    margin-left: 1em;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

sup,
sub {
    font-size: 0.75em;
    position: relative;
    display: inline-block;
    padding: 0 .2em;
    line-height: .8em
}

sup {
    top: -.5em
}

sub {
    bottom: -.5em
}

a[rev='footnote'] {
    font-size: .75em;
    padding: 0 .3em;
    line-height: 1
}

q {
    font-style: italic
}

q:before {
    content: "\201C"
}

q:after {
    content: "\201D"
}

em,
dfn {
    font-style: italic
}

strong,
dfn {
    font-weight: bold
}

del,
s {
    text-decoration: line-through
}

abbr,
acronym {
    border-bottom: 1px dotted;
    cursor: help
}

hr {
    margin-bottom: 0.2em
}

small {
    font-size: .8em
}

big {
    font-size: 1.2em
}

article blockquote {
    font-style: italic;
    position: relative;
    font-size: 1.0em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid rgba(170, 170, 170, 0.5)
}

article blockquote cite {
    font-style: italic
}

article blockquote cite a {
    color: #aaa !important;
    word-wrap: break-word
}

article blockquote cite:before {
    content: '\2014';
    padding-right: .3em;
    padding-left: .3em;
    color: #aaa
}

@media only screen and (min-width: 992px) {
    article blockquote {
        padding-left: 1.5em;
        border-left-width: 4px
    }
}

.pullquote-right:before,
.pullquote-left:before {
    padding: 0;
    border: none;
    content: attr(data-pullquote);
    float: right;
    width: 45%;
    margin: .5em 0 1em 1.5em;
    position: relative;
    top: 7px;
    font-size: 1.4em;
    line-height: 1.45em
}

.pullquote-left:before {
    float: left;
    margin: .5em 1.5em 1em 0
}

.force-wrap,
article a,
aside.sidebar a {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word
}

.group,
body #content > article,
body #content > div > article,
body #content > div > section,
body div.pagination,
aside.sidebar,
#main,
#content,
.sidebar {
    *zoom: 1
}

.group:after,
body #content > article:after,
body #content > div > section:after,
body div.pagination:after,
#main:after,
#content:after,
.sidebar:after {
    content: "";
    display: table;
    clear: both
}

body {
    -webkit-text-size-adjust: none;
    max-width: 1200px; /* original is 1200px but for some reason it is smaller in my screen */
    position: relative;
    margin: 0 auto;
    font-size: 110%;
}

#content {
    overflow: hidden
}

#content > div {
    width: 100%
}

aside.sidebar {
    float: none;
    padding: 0 18px 1px;
    /*background-color: #f7f7f7;*/
    /*border-top: 1px solid #e0e0e0*/
}

.flex-content,
article img,
article video,
article .flash-video,
article .caption-wrapper,
aside.sidebar img {
    max-width: 100%;
    height: auto
}

.basic-alignment.left,
article img.left,
article video.left,
article .left.flash-video,
article .left.caption-wrapper,
aside.sidebar img.left {
    float: left;
    margin-right: 1.5em
}

.basic-alignment.right,
article img.right,
article video.right,
article .right.flash-video,
article .right.caption-wrapper,
aside.sidebar img.right {
    float: right;
    margin-left: 1.5em
}

.basic-alignment.center,
article img.center,
article video.center,
article .center.flash-video,
article .center.caption-wrapper,
aside.sidebar img.center,
ul.sidebar-nav {
    display: block;
    list-style-type: none;
    margin: 0 auto 1.5em
}

ul.sidebar-nav li {
    display: inline;
}

.basic-alignment.left,
article img.left,
article video.left,
article .left.flash-video,
article .left.caption-wrapper,
aside.sidebar img.left,
.basic-alignment.right,
article img.right,
article video.right,
article .right.flash-video,
article .right.caption-wrapper,
aside.sidebar img.right {
    margin-bottom: .8em
}

.toggle-sidebar,
.no-sidebar .toggle-sidebar {
    display: none
}

@media only screen and (min-width: 750px) {
    body.sidebar-footer aside.sidebar {
        float: none;
        width: auto;
        clear: left;
        margin: 0;
        padding: 0 35px 1px;
        /*background-color: #f7f7f7;*/
        /*border-top: 1px solid #eaeaea*/
    }

    body.sidebar-footer aside.sidebar section.odd,
    body.sidebar-footer aside.sidebar section.even {
        float: left;
        width: 48%
    }

    body.sidebar-footer aside.sidebar section.odd {
        margin-left: 0
    }

    body.sidebar-footer aside.sidebar section.even {
        margin-left: 4%
    }

    body.sidebar-footer aside.sidebar.thirds section {
        width: 30%;
        margin-left: 5%
    }

    body.sidebar-footer aside.sidebar.thirds section.first {
        margin-left: 0;
        clear: both
    }
}

body.sidebar-footer #content {
    margin-right: 0px
}

body.sidebar-footer .toggle-sidebar {
    display: none
}

@media only screen and (min-width: 750px) {
    aside.sidebar {
        float: none;
        width: auto;
        clear: left;
        margin: 0;
        padding: 0 35px 1px;
        /*background-color: #f7f7f7;*/
        /*border-top: 1px solid #eaeaea*/
    }

    aside.sidebar section.odd,
    aside.sidebar section.even {
        float: left;
        width: 48%
    }

    aside.sidebar section.odd {
        margin-left: 0
    }

    aside.sidebar section.even {
        margin-left: 4%
    }

    aside.sidebar.thirds section {
        width: 30%;
        margin-left: 5%
    }

    aside.sidebar.thirds section.first {
        margin-left: 0;
        clear: both
    }
}

@media only screen and (min-width: 768px) {
    body {
        -webkit-text-size-adjust: auto
    }

    #main {
        padding: 0;
        margin: 0 auto
    }

    #content {
        overflow: visible;
        margin-right: 240px;
        position: relative
    }

    .no-sidebar #content {
        margin-right: 0;
        border-right: 0
    }

    .collapse-sidebar #content {
        margin-right: 20px
    }

    #content > div,
    #content > article {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
        float: left
    }

    aside.sidebar {
        width: 210px;
        padding: 0 15px 15px;
        background: none;
        clear: none;
        float: left;
        margin: 0 -100% 0 0;
    }

    aside.sidebar section {
        width: auto;
        margin-left: 0
    }

    aside.sidebar section.odd,
    aside.sidebar section.even {
        float: none;
        width: auto;
        margin-left: 0
    }

    .collapse-sidebar aside.sidebar {
        float: none;
        width: auto;
        clear: left;
        margin: 0;
        padding: 0 35px 1px;
        background-color: #f7f7f7;
        /*border-top: 1px solid #eaeaea*/
    }

    .collapse-sidebar aside.sidebar section.odd,
    .collapse-sidebar aside.sidebar section.even {
        float: left;
        width: 48%
    }

    .collapse-sidebar aside.sidebar section.odd {
        margin-left: 0
    }

    .collapse-sidebar aside.sidebar section.even {
        margin-left: 4%
    }

    .collapse-sidebar aside.sidebar.thirds section {
        width: 30%;
        margin-left: 5%
    }

    .collapse-sidebar aside.sidebar.thirds section.first {
        margin-left: 0;
        clear: both
    }
}

@media only screen and (min-width: 992px) {
    #content {
        margin-right: 320px; /* increase this by X where X is the increase in width of aside.sidebar a few line down */
    }

    #content > div,
    #content > article {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    aside.sidebar {
        width: 280px; /* increase sidebad, remember to increase the margin-right of #content a few lines up by the same amount */
        padding: 0em 20px 20px
    }

    .collapse-sidebar aside.sidebar {
        padding-left: 55px;
        padding-right: 55px
    }
}

.no-placeholder body > nav .search {
    background: #f2f2f2 0.3em 0.25em no-repeat;
    text-indent: 1.3em
}

.entry-content article h2:first-child,
article header + h2 {
    padding-top: 0
}

article h2:first-child,
article header + h2 {
    background: none
}

article .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 2.0em;
    font-style: italic;
    line-height: 1.3em
}

article img,
article video,
article .flash-video,
article .caption-wrapper {
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.5em solid
}

article img.caption,
article video.caption,
article .flash-video.caption,
article .caption-wrapper.caption {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px;
    -moz-box-shadow: 0px;
    box-shadow: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px
}

article .caption-wrapper {
    display: inline-block;
    margin-bottom: 1em;
}

article .caption-wrapper .caption-text {
    background: #fff;
    text-align: center;
    font-size: .8em;
    color: #666;
    display: block
}

article video,
article .flash-video {
    margin: 0 auto 1.5em
}

article video {
    display: block;
    width: 100%
}

article .flash-video > div {
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    padding-top: 1px;
    height: 0;
    overflow: hidden
}

article .flash-video > div iframe,
article .flash-video > div object,
article .flash-video > div embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

article > footer {
    padding-bottom: 0.3em; /* decrease footer padding */
    margin-top: 0.3em;
}

article > footer p.meta {
    margin-bottom: .8em;
    font-size: .85em;
    clear: both;
    overflow: hidden
}

.blog-index article + article {
}


#content .blog-index article h1 a {
    color: inherit
}

#content .blog-index article h1 a:hover::before {
    /*color: #0181eb*/
    /*content: "→"*/
}

#content .blog-index article h1:hover::before {
    /*color: #0181eb*/
    left: -1em;
    position: absolute;
    padding-right: 0.5em;
    font-size: 0.5em;
    content: "→"
}

#content .blog-index a[rel=full-article] {
    background: #ebebeb;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: #666;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s
}

#content .blog-index a[rel=full-article]:hover {
    background: #0181eb;
    text-shadow: none;
    color: #f8f8f8
}

#content .blog-index footer {
    margin-top: 1em
}

.separator,
article > footer .byline + time:before,
article > footer time + time:before,
article > footer .comments:before,
article > footer .byline ~ .categories:before {
    content: "\2022 ";
    padding: 0 .4em 0 .2em;
    display: inline-block
}

p.meta + .sharing {
    padding-top: 1em;
    padding-left: 0;
}

#fb-root {
    display: none
}

div.highlight {
    background-color: #f0f0f0;
    margin: 1em 0em;
    overflow-x: scroll;
}

h3.filename + pre {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px
}


.d-title,
html .gist .gist-file .gist-meta a[href*='#file'],
h3.filename,
figure.code figcaption { /* figcaption changes */
    text-align: center;
    line-height: 2em;
    text-shadow: #cbcccc 0 1px 0;
    color: #474747;
    font-weight: normal;
    margin-bottom: 0;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #aaa top repeat-x;
    border: 1px solid #565656;
    border-top-color: #cbcbcb;
    border-left-color: #a5a5a5;
    border-right-color: #a5a5a5;
    border-bottom: 0;
    font-size: 90%; /* change size of font in figcaption */
}

.download-source,
html .gist .gist-file .gist-meta a[href*=raw],
figure.code figcaption a {
    position: absolute;
    right: .8em;
    text-decoration: none;
    color: #666 !important;
    z-index: 1;
    font-size: 13px;
    text-shadow: #cbcccc 0 1px 0;
    padding-left: 3em
}

.download-source:hover,
html .gist .gist-file .gist-meta a[href*=raw]:hover,
figure.code figcaption a:hover {
    text-decoration: underline
}

#archive #content > div,
#archive #content > div > article {
    padding-top: 0
}

#blog-archives {
    /* color: #aaa */
}

#blog-archives article {
    padding: 1em 0 1em;
    position: relative;
}

#blog-archives article:last-child {
    background: none
}

#blog-archives article footer {
    padding: 0;
    margin: 0
}

#blog-archives h1 {
    color: #222;
    margin-bottom: .3em
}

#blog-archives h2 {
    display: none
}

#blog-archives h1 {
    font-size: 1.5em
}

#blog-archives h1 a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    display: inline-block
}

#blog-archives h1 a:hover {
    text-decoration: underline
}

#blog-archives h1 a:hover {
    color: #0181eb
}

#blog-archives a.category,
#blog-archives time {
    color: #aaa;

}

#blog-archives .entry-content {
    display: none
}

#blog-archives time {
    font-size: .9em;
    line-height: 1.2em
}

#blog-archives time .month,
#blog-archives time .day {
    display: inline-block;
}

#blog-archives time .month {
    text-transform: uppercase
}

#blog-archives p {
    margin-bottom: 1em
}

#blog-archives a,
#blog-archives .entry-content a {
    color: inherit
}

#blog-archives a:hover,
#blog-archives .entry-content a:hover {
    color: #0181eb
}

#blog-archives a:hover {
    color: #0181eb
}

@media only screen and (min-width: 550px) {
    #blog-archives article {
        /*margin-left: 5em*/
    }

    #blog-archives article h1 {
        margin-top: 0.3em;
    }

    #blog-archives h2 {
        margin-bottom: 0.3em;
        font-weight: normal;
        /* display: inline-block; */
        /* position: relative; */
        top: -1px;
        display: block;
        /* float: left; */

    }

    #blog-archives time {
        position: absolute;
        text-align: right;
        left: 0em;
        top: 3em; /* may need to change this to align the month/date on the tag/category (archive) pages with post name */
    }

    /* #blog-archives .year {
         display: none;
     }*/
    #blog-archives article {
        /*padding-left: 4.5em;*/
        padding-bottom: .7em;
    }

    #blog-archives a.category {
        line-height: 1.1em;
    }
}

#content > .category article {
    margin-left: 0;
    padding-left: 6.8em
}

#content > .category .year {
    display: inline;
}

.side-shadow-border,
aside.sidebar section h1,
aside.sidebar li {
    /*-webkit-box-shadow: #fff 0 1px;*/
    /*-moz-box-shadow: #fff 0 1px;*/
    /*box-shadow: #fff 0 1px*/
}

aside.sidebar {
    overflow: hidden;
    /*color: #333;*/

}

aside.sidebar section {
    font-size: 0.9em;
    line-height: 1.4em;
    margin-bottom: 0.5em
}

aside.sidebar section h1 {
    margin: 0.5em 0 0;
    padding-bottom: .2em;
    /*border-bottom: 1px solid #e0e0e0*/
}

aside.sidebar section h1 + p {
    padding-top: .4em
}

aside.sidebar img {
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.3em solid
}

aside.sidebar ul {
    margin-bottom: 0.5em;
    margin-left: 0
}

aside.sidebar li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
    /*border-bottom: 1px solid #e0e0e0*/
}

aside.sidebar li p:last-child {
    margin-bottom: 0
}

aside.sidebar a {
    color: inherit;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s
}

aside.sidebar:hover a:hover {
    color: #0181eb
}

@media only screen and (min-width: 768px) {
    .toggle-sidebar {
        outline: none;
        position: absolute;
        right: -10px;
        top: 0;
        bottom: 0;
        display: inline-block;
        text-decoration: none;
        color: #cecece;
        width: 9px;
        cursor: pointer
    }

    .toggle-sidebar:hover {
        background: #e9e9e9;
        background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(224, 224, 224, 0.5)), color-stop(100%, rgba(224, 224, 224, 0)));
        background: -webkit-linear-gradient(left, rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0));
        background: -moz-linear-gradient(left, rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0));
        background: -o-linear-gradient(left, rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0));
        background: linear-gradient(left, rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0))
    }

    .toggle-sidebar:after {
        position: absolute;
        right: -11px;
        top: 0;
        width: 20px;
        font-size: 1.2em;
        line-height: 1.1em;
        padding-bottom: .15em;
        -moz-border-radius-bottomright: 0.3em;
        -webkit-border-bottom-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        text-align: center;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        content: "\00BB";
        text-indent: -1px
    }

    .collapse-sidebar .toggle-sidebar {
        text-indent: 0px;
        right: -20px;
        width: 19px
    }

    .collapse-sidebar .toggle-sidebar:hover {
        background: #e9e9e9
    }

    .collapse-sidebar .toggle-sidebar:after {
        border-left: 1px solid #e0e0e0;
        text-shadow: #fff 0 1px;
        content: "\00AB";
        left: 0px;
        right: 0;
        text-align: center;
        text-indent: 0;
        border: 0;
        border-right-width: 0;
        background: none
    }
}

table,
th,
td {
    border: 1px solid black;
    padding: 3px;
}

th {
    font-weight: bold;
    text-align: center;
}

/* Taken from hyde-x.css to format labels (categories) as octopress doesn't have  */
footer span.categories a.label:first-child {
    padding-left: 0;
    margin-left: 0
}

.label {
    margin: 0;
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    text-align: center;
    vertical-align: baseline;
}

a.label:hover,
a.label:focus {
    cursor: pointer;
}

.label:empty {
    display: none;
}

.posts a.label,
.post-date a.label {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* overflow for backtick code block
   by just modifying div.highlight I will screw the codecaption overflow as they have div.highlight too.
   This ">" syntax is something new that I learned.
   basically it will select only div.highlights that are direct childs of entry-content */
div.entry-content > div.highlight,
div.blog-index article > div.highlight {
    /* border-color: #002B36; */
    overflow-x: scroll;
}

/* decrease h1 size in article body so we can use it in the article as heading */
div.entry-content > h1 {
    font-size: 1.4em;
}

div.entry-content > h2 {
    margin-top: 2em;
    font-size: 1.3em;
}

div.entry-content > h3 {
    margin-top: 1.5em;
    font-size: 1.1em;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    div.entry-content > h2 {
        margin-top: 2em;
        margin-bottom: 1em;
    }
}

/* decrease margin for article headings */
div.entry-content >
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
    /* text-align: center; */
    padding: 2rem 1rem;
    /* color: rgba(255,255,255,.5); */
    /*background-color: #202020;*/
}

/* aligns the side bar to the left, we want it to be on the right
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
} */

/* Sidebar links */

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
    .sidebar-sticky {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
    }
}

/* Background */ .chroma { color: #8a8a8a; background-color: #1c1c1c }
@media (prefers-color-scheme: dark) {
    .chroma {
        background-color: #2b2b2b;
    }
}

/* Other */ .chroma .x { color: #d75f00 }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #454545 }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #454545 }
/* Keyword */ .chroma .k { color: #5f8700 }
/* KeywordConstant */ .chroma .kc { color: #d75f00 }
/* KeywordDeclaration */ .chroma .kd { color: #0087ff }
/* KeywordNamespace */ .chroma .kn { color: #d75f00 }
/* KeywordPseudo */ .chroma .kp { color: #5f8700 }
/* KeywordReserved */ .chroma .kr { color: #0087ff }
/* KeywordType */ .chroma .kt { color: #af0000 }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb { color: #0087ff }
/* NameBuiltinPseudo */ .chroma .bp { color: #0087ff }
/* NameClass */ .chroma .nc { color: #0087ff }
/* NameConstant */ .chroma .no { color: #d75f00 }
/* NameDecorator */ .chroma .nd { color: #0087ff }
/* NameEntity */ .chroma .ni { color: #d75f00 }
/* NameException */ .chroma .ne { color: #af8700 }
/* NameFunction */ .chroma .nf { color: #0087ff }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #0087ff }
/* NameVariable */ .chroma .nv { color: #0087ff }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #00afaf }
/* LiteralStringAffix */ .chroma .sa { color: #00afaf }
/* LiteralStringBacktick */ .chroma .sb { color: #4e4e4e }
/* LiteralStringChar */ .chroma .sc { color: #00afaf }
/* LiteralStringDelimiter */ .chroma .dl { color: #00afaf }
/* LiteralStringDoc */ .chroma .sd { color: #00afaf }
/* LiteralStringDouble */ .chroma .s2 { color: #00afaf }
/* LiteralStringEscape */ .chroma .se { color: #af0000 }
/* LiteralStringHeredoc */ .chroma .sh { color: #00afaf }
/* LiteralStringInterpol */ .chroma .si { color: #00afaf }
/* LiteralStringOther */ .chroma .sx { color: #00afaf }
/* LiteralStringRegex */ .chroma .sr { color: #af0000 }
/* LiteralStringSingle */ .chroma .s1 { color: #00afaf }
/* LiteralStringSymbol */ .chroma .ss { color: #00afaf }
/* LiteralNumber */ .chroma .m { color: #00afaf }
/* LiteralNumberBin */ .chroma .mb { color: #00afaf }
/* LiteralNumberFloat */ .chroma .mf { color: #00afaf }
/* LiteralNumberHex */ .chroma .mh { color: #00afaf }
/* LiteralNumberInteger */ .chroma .mi { color: #00afaf }
/* LiteralNumberIntegerLong */ .chroma .il { color: #00afaf }
/* LiteralNumberOct */ .chroma .mo { color: #00afaf }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow { color: #5f8700 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #4e4e4e }
/* CommentHashbang */ .chroma .ch { color: #4e4e4e }
/* CommentMultiline */ .chroma .cm { color: #4e4e4e }
/* CommentSingle */ .chroma .c1 { color: #4e4e4e }
/* CommentSpecial */ .chroma .cs { color: #5f8700 }
/* CommentPreproc */ .chroma .cp { color: #5f8700 }
/* CommentPreprocFile */ .chroma .cpf { color: #5f8700 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #af0000 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #af0000; font-weight: bold }
/* GenericHeading */ .chroma .gh { color: #d75f00 }
/* GenericInserted */ .chroma .gi { color: #5f8700 }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #0087ff }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
